/* Parametros */
@font-face {
    font-family: 'Hanken Grotesk', sans-serif;
    src: url(../fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraLight.ttf);
 }

 /* Variables */
 :root{
    --fuente-titulo: 'Hanken Grotesk', sans-serif  ;
    --fuente-cuerpo: 'Hanken Grotesk', sans-serif;
    --fuente-detalles:'Hanken Grotesk', sans-serif;
    --fuente-titulosecundario:'Hanken Grotesk', sans-serif;
    --peso-titulo: 200;
    --peso-cuerpo: 200;
    --size-h1: 50px;
    --size-h2: 50px;
    --size-h3: 28px;
    --size-cuerpo: 16px;
    --border-line: 1px solid #fff;
    --color-principal:#000409;
    --color-secundario:#fff; 
    --color-textoSecundario:#525252; 
    --padding-web: 4%;
    --margin-left: 20px;
    --line-height:1.5;
}
    
/* Normalizadores */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-titulo);
    color: var(--color-secundario);
}
h1, h4{
    font-size: var(--size-h1);
    color: var(--color-principal);
}
h2, h5{
    font-size: var(--size-h2);
    color: var(--color-secundario);
}
h3, h6{
    font-size: var(--size-h3);
    color: var(--color-secundario);
}
p{
    font-family: var(--fuente-cuerpo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color:var(--color-secundario);
}
li{
    font-family: var(--fuente-cuerpo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: var(--color-secundario);
    border: none;
    background-color: transparent;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Reglas recursivas */
/* Reglas generales */
.marco{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}
.boton{
    min-width: 115px;
    height: 40px;
    border: var(--border-line);
    border-radius: 25px;
}
.menu-desplegable-header{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
}
.close{
    font-size: 35px;
}
.closeDos{
    width: 30px;
    height: 30px;
    font-size: 25px;
}
.visible{
    display: block;
}
.menu{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.marco-icono{
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marco-icono p{
    padding-left: 20px;
}
.underline {
    margin: 10px 20px;
    height: 50px;
    width: 100%;
    padding-bottom: 10px;
    font-size: 27px;
    position: relative;
    display: flex;
    align-items: start;
    
  }
  .underline:first-child{
    margin-top: 35px;
  }
  .underline a{
    color: var(--color-secundario);
  }
  
.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
  }
  
.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }
.botones-contactos{
    width: 100vw;
    height: 15vh;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.boton{
    transition: 1s;
}
.boton:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}


/* Estilos adicionales para el encabezado */
.overlay {
    width: 100%;
    position: relative;
    height: 100vh;
  }
.video-header-index{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.header-index {
    width: 100%;
    position: relative;
    z-index: 1;

  }
/* Estilos adicionales para la sección */
.primera-seccion-pagina-principal{
    position: relative;
    z-index: 1;
}

footer{
    width: 100%;
    height: 120vh;
    background-color: var(--color-principal);
    padding-top: 100px;
}
.contenedor-principal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.contenedor-h2-footer{
    width: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contenedor-principal-footer h2{
    font-size: 40px;
    font-weight: 600;
    color:var(--color-principal); /* Color del texto */
    -webkit-text-stroke: 2px white; /* Ancho y color del borde */
}
.contacto-inputs-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-inputs-footer input{
    margin-top: 20px;
    height: 40px;
    padding-left: 5px;
    font-weight: 100;
    width: 90%;
    font-size: 25px;
    color: var(--color-textoSecundario);
    background-color: var(--color-principal);
    border: 0;
    border-bottom: 1px solid white;
}
.contacto-inputs-footer .mensaje{
    height: 100px;
    padding-bottom: 50px;
}
.contenedor-enviar{
    width: 90%;
    height: 180px;
    border-bottom: var(--border-line);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-enviar .boton{
    margin-bottom: 40px;
}
.contenedor-enviar span{
    font-weight: 100;
    font-size: 13px;
    color: var(--color-secundario);
}
.contacto-a-footer{
    width: 100%;
    height: 325px;
    margin-top: 40px;
    padding-bottom: 50px;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-a-footer .boton{
    width: 90%;
    margin:10px ;
}
.lineaFinal{
    margin: 40px;
    width: 90%;
    border: var(--border-line);
}

/* Reglas específicas index */

.header-index{
    width: 100%;
    height: 75.5px;
    display: flex;
    justify-content: flex-end;
}
.header-index .menu-hamburguesa{
    margin-top: 40px;
    margin-right: 20px;
    color: var(--color-secundario);
    width: 50px;
    height: 50px;
    font-size: 40px;
}
.contenedor-h2-index{
    margin-top: 240px;
    margin-left: 25px;
    margin-right: 30px;
    line-height: 1;
}
.botones-pagina-inicio{
    margin: 40px 25px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.botones-pagina-inicio button{
    margin: 0px 6px 0px 6px;
}
.contenedor-parrafo-inicial{
    margin-left:25px;
    margin-right:45px;
    line-height: 1;
}
/* segunda seccion  index */
.segunda-seccion-pagina-principal{
    width: 100%;
    height: 800px;
    background-color: var(--color-principal);
    position: relative;
}
.segunda-seccion-pagina-principal .contenedor-h2-segunda-seccion{
    position: absolute;
    top: 200px;
    margin-left: 25px;
}
.segunda-seccion-pagina-principal .contenedor-p1-segunda-seccion{
    position: absolute;
    top: 350px;
    margin-left: 25px;
    margin-right: 30px;
    line-height: var(--line-height);
}
.segunda-seccion-pagina-principal .contenedor-p2-segunda-seccion{
    position: absolute;
    top: 550px;
    margin-left: 25px;
    margin-right: 30px;
    line-height: var(--line-height);
} 
.contenedor-p1-segunda-seccion p{
    font-size: 23px;
}
.contenedor-p2-segunda-seccion p{
    color: var(--color-textoSecundario);
    font-size: 15px;
}
/* tercera seccion */
.tercera-seccion-pagina-principal{
    width: 100%;
    height: 1400px;
    background-color: var(--color-principal);
}
.tercera-seccion-pagina-principal h2{
    padding:100px 25px 20px 25px;

}
.contenedor-nuestro-trabajo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja{
    width: 340px;
    height: 175px;
    margin: 7px 0px;
    border: var(--border-line);
    border-radius: 17px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden ;
}
.caja img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 17px;
}
.caja .boton{
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.caja h3{
    font-size: 25px;
/*     margin: 50px 30px; */
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);

    position: absolute;
}
/* cuarta seccion */
.cuarta-seccion-pagina-principal{
    width: 100%;
    height: 100vh;
    background-color: var(--color-principal);
    position: relative;
    overflow: hidden ;
}
.cuarta-seccion-pagina-principal .workflow{
    width: 100%;
    height: 100vh;
}
.cuarta-seccion-pagina-principal img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cuarta-seccion-pagina-principal .workflow h4{
    font-size: 60px;
    padding-top: 170px;
    font-weight: 800;
    margin-left: 25px ;
    color:var(--color-principal); /* Color del texto */
    -webkit-text-stroke: 2px white; /* Ancho y color del borde */
}
.cuarta-seccion-pagina-principal .workflow p{
    font-family: 23px;
    line-height: var(--line-height);
     margin:  50px 25px;
}
.cajaSwicth{
    width: 100%;
    height: 100vh;
}
.cajaSwicth h2{
    font-size: 50px;
    font-weight: 400;
    top: 30%;
    left: 25%;
    position: absolute;
}
.cajaSwicth p{
    font-weight: 100;
    font-family: 25px;
    line-height: 1.3;
    top: 50%;
    left: 45%;
    position: absolute;

}
.carousel{
    margin-top: 8%;
}
.carousel-cell {
   width: 100%;
   height: 100vh;
   margin-right: 10px;
   border-radius: 15px;
}
.carousel-cell::before{
    display: block;
    content: "";
}

/* fin del algo */
/* Quienes somos */
.contenedor-h2-quienesSomos{
    margin-left: 25px;
    margin-right: 30px;
    line-height: 1;
}
.h2-header-quienesSomos{
    padding-top: 150px;
    padding-bottom: 50px;
}
.p-header-quienesSomos{

    line-height: var(--line-height);
    padding-bottom: 50px;
}
.contenedor-parrafo-inicial-quinesSomos{
    position:relative;
    width: 100%;
    background-color:#0b1916;
}
.contenedor-primer-parrafo-quienesSomos{
    width: 100%;
    padding: 70px 30px 50px 30px;  
}
.contenedor-primer-parrafo-quienesSomos p{
    padding-top: 100px;
    text-align: center;
    font-size: 23px;
    line-height: var(--line-height);
}
.contenedor-cuerpo-inicio-quienesSomos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafos-normales{
    width: 60%;
    margin: 30px;
}
.parrafos-normales p{
    line-height: var(--line-height);
    margin-top: 20px;
}
.contenedor-cuerpo-inicio-quienesSomos .lateral{
    width: 20%;
    height: 250px;
    margin-right: 50px;
    writing-mode: sideways-rl;
}
.contenedor-cuerpo-inicio-quienesSomos .lateral{
    font-size: 22px;
}
/* fin primera seccion de quienes somos */
/* segunda seccion quienes somos */
.contenedor-segundoParrafo-quinesSomos{
    position:relative;
    width: 100%;
    background-color:#0b1916;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-segundoParrafo-quinesSomos .lateral{
    width: 20%;
    height: 250px;
    writing-mode:sideways-lr;
    font-size: 22px;
    margin-left: 50px;
}
/* fin segunda seccion de quienes somos */
/* tercera seccion quienes somos */
.tercera-seccion-quienesSomos{
    padding-top: 100px;
    background-color:#0b1916 ;
    width: 100%;
}
.tercera-seccion-quienesSomos .parrafo-inicio-tercera-seccion-quienesSomos h3 {
    margin-left: 30px;
    font-size: 55px;
}
.tercera-seccion-quienesSomos .parrafo-inicio-tercera-seccion-quienesSomos p{
    margin: 30px 20px 30px 30px;
    line-height: var(--line-height);
}
.contenedor-nuestro-trabajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cajaQuinesSomos{
    
    border: var(--border-line);
    border-radius: 17px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaQuinesSomos:hover{
    border: 2px solid red;
}
.cajaInterna{
    padding: 30px 0;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.cajaQuinesSomos .numero{
    margin: 20px 0;
    width: 50px;
    height: 20px;
    border-radius: 25px;
    border: var(--border-line);
    text-align: center;
} 
.cajaQuinesSomos .numero span{
    color: var(--color-secundario);
}
.cajaInterna h2, .cajaInterna p{
    margin: 10px 0;
}


/* fin tercera seccion quienes somos */
/* cuarta seccion quienes somos */
.parrafos-finales-quienesSomos{
    width: 100%;
    background-color: #0b1916;
}
.parrafos-finales-quienesSomos p{
    line-height: var(--line-height);
    padding: 40px 30px;
}

/* fin quienes somos */

/* desarrollo de software */


/* fin de desarrollo software */

/* header desarrollo */

.contenedor-principal-desarrolloSoftware{
    width: 100%;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 250px;
    line-height: 1;
}
.contenedor-p-desarrolloSoftware{
    margin-bottom: 50px;
}
.contenedor-p-desarrolloSoftware p{
    font-size: 60px;
}
/* fin del header desarrollo */
 /* primera secction desarrrollo */
.primeraSeccion-desarrolloSoftware{
    width: 100%;
    background-color:#0a0925 ;
}
.caja-desarrolloSoftware{
    margin-left: 25px;
    margin-right: 30px;
    padding-top: 100px;
}
.caja-desarrolloSoftware p{
    line-height: var(--line-height);
}
.primer-texto-desarrollo p{
    padding-top: 100px;
}
.segundo-texto-desarrollo p{
    padding-bottom: 100px;
}
 /* fin primera seccion desarrrollo */
 /* fin desarrolloSoftware */

 /* desarrollo movil */
 /* header movil */
 .contenedor-principal-desarrolloMovil{
    width: 100%;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 250px;
    line-height: 1;
 }
 .contenedor-p-desarrolloMovil{
    margin-bottom: 50px;
}
.contenedor-p-desarrolloMovil p{
    font-size: 60px;
}
.contenedor-h2-desarrolloMovil h2{
    overflow: hidden;
    font-size: 50px;
    width: 80%;
}
 /* fin header movil */
 /* section movil */
 .primeraSeccion-movil{
    width: 100%;
    background-color:#010101 ;
}
.caja-movil{
    margin-left: 25px;
    margin-right: 30px;
    padding-top: 100px;
}
.caja-movil p{
    line-height: var(--line-height);
}
.primer-texto-movil p{
    padding-top: 130px;
}
.segundo-texto-movil p{
    padding-bottom: 100px;
}
 /* fin section movil */

 /* fin desarrollo movil */

/* power */
/* header power */
.contenedor-principal-power{
    width: 100%;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 350px;
    line-height: 1;
 }
 .contenedor-p-power{
    margin-bottom: 50px;
}
.contenedor-p-power p{
    font-size: 60px;
}
.contenedor-h2-power h2{
    overflow: hidden;
    font-size: 50px;
    width: 80%;
}
/* fin del header power */
.primeraSeccion-power{
    width: 100%;
    background-color:#010101 ;
}
.caja-power{
    margin-left: 25px;
    margin-right: 30px;
    padding-top: 100px;
}
.caja-power p{
    line-height: var(--line-height);
}
.primer-texto-power p{
    padding-top: 130px;
}
.segundo-texto-power p{
    padding-bottom: 100px;
}
/* fin del power */

/* industria */
/* header industria */
.contenedor-principal-industria{
    width: 100%;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 350px;
    line-height: 1;
 }
 .contenedor-p-industria{
    margin-bottom: 50px;
}
.contenedor-p-power p{
    font-size: 60px;
}
.contenedor-h2-power h2{
    overflow: hidden;
    font-size: 50px;
    width: 80%;
}
/* fin header industria */
/* section industria */
.primeraSeccion-industria{
    width: 100%;
    background-color:#010101 ;
}
.caja-industria{
    margin-left: 25px;
    margin-right: 30px;
    padding-top: 100px;
}
.caja-industria p{
    line-height: var(--line-height);
}
.primer-texto-industria p{
    padding-top: 160px;
}
.segundo-texto-industria p{
    padding-bottom: 100px;
}
/* fin section industria */
/* fin industria */

/* consultoria */
/* header consultoria */

.contenedor-principal-consultora{
    width: 100%;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 300px;
    line-height: 1;
 }
 .contenedor-p-consultora{
    margin-bottom: 50px;
}
.contenedor-p-consultora p{
    font-size: 60px;
}
.contenedor-h-consultora h2{
    overflow: hidden;
    font-size: 50px;
    width: 80%;
}
/* fin del header consultoria */

/* consuloria Seccion central */



.caja-consultoria{
    width: 100%;
    padding: 50px 20px;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-consultoria{
    width: 100%;
}
.logo-consultoria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.primer-texto{
    padding-top:120px ;
}
.caja-consultoria p{
    font-weight: 100;
    font-size: var(--fuente-cuerpo);
    line-height: var(--line-height);
    color: var(--color-textoSecundario);
}
.caja-consultoria p:active{
    color: var(--color-secundario);
}
/* fin de consultoria */
/* out */
/* header out */

.contenedor-principal-out{
    width: 100%;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 350px;
    line-height: 1;
 }
 .contenedor-p-out{
    margin-bottom: 50px;
}
.contenedor-p-out p{
    font-size: 60px;
}
.contenedor-h2-out h2{
    overflow: hidden;
    font-size: 50px;
    width: 80%;
}
/* fin del header out */
/* fin de out */