/* Parametros */
@font-face {
    font-family: 'Hanken Grotesk', sans-serif;
    src: url(../fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraLight.ttf);
 }
 /* Variables */
 :root{
    --fuente-titulo: 'Hanken Grotesk', sans-serif  ;
    --fuente-cuerpo: 'Hanken Grotesk', sans-serif;
    --fuente-detalles:'Hanken Grotesk', sans-serif;
    --fuente-titulosecundario:'Hanken Grotesk', sans-serif;
    --peso-titulo: 400;
    --peso-cuerpo: 200;
    --size-h1: 50px;
    --size-h2: 50px;
    --size-h3: 28px;
    --size-cuerpo: 16px;
    --border-line: 1px solid #fff;
    --color-principal:#000409;
    --color-secundario:#fff; 
    --color-textoSecundario:#525252; 
    --padding-web: 4%;
    --margin-left: 20px;
    --line-height:1.5;
}    
/* Normalizadores */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 

}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader-bar {
    width: 0;
    height: 20px;
    background-color:#e31c0e;
    border-radius: 10px;
    transition: width 0.5s ease;
  }
  
  .loader-text {
    color: var(--color-secundario);
    margin-top: 10px;
  }
  
h1, h2, h3, h4, h5, h6{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-titulo);
    color: var(--color-secundario);
}
h1, h4{
    font-size: var(--size-h1);
    color: var(--color-principal);
}
h2, h5{
    font-size: var(--size-h2);
    color: var(--color-secundario);
}
h3, h6{
    font-size: var(--size-h3);
    color: var(--color-secundario);
}
p{
    font-family: var(--fuente-cuerpo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color:var(--color-secundario);
}
li{
    font-family: var(--fuente-cuerpo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: var(--color-secundario);
    border: none;
    background-color: transparent;
    transition: 1s;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Reglas recursivas */
/* Reglas generales */
.marco{
    width: 100%;
    /* max-width: 1920px; */
    margin: auto;
}
.boton{
    border: var(--border-line);
    border-radius: 25px;
}
.boton:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
.botonMenuH{
    width: 148px;
    height: 40px;
}
.botonEnviar{
    font-size: 20px;
    height: 45px;
    width: 170px;
    padding-bottom: 5px;
}
.botonFooter{
    font-size: 20px;
    width: 320px;
    height: 50px;
}
.menu-desplegable-header{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
}
.close{
    font-size: 35px;
}
.closeDos{
    width: 30px;
    height: 30px;
    font-size: 25px;
}
.visible{
    display: block;
}
.marcoMenu{
    background-color: var(--color-principal);
    width: 100%;
}
.menu{
    width: 100%;
    height: 70vh;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.marco-icono{
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marco-icono p{
    padding-left: 20px;
}
.underline {
    height: 50px;
    width: 100%;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: start;
}
.liespecial{
    padding-bottom: 3px;
}

.underline a{
   color: var(--color-secundario);
}
.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
}
.botones-contactos{
    width: 100vw;
    height: 15vh;
    padding-bottom:20px ;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Estilos adicionales para el encabezado */
.overlay {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
  }
.video-header-index{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.header-index {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
  }
/* Estilos adicionales para la sección */
.primera-seccion-pagina-principal{
    width: 100%;
    height: 85vh;
    position: relative;
    z-index: 1;
}
footer{
    width: 100%;
    height: 150vh;
    background-color: var(--color-principal);
    padding-top: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contenedor-principal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.contenedor-h2-footer{
    width: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contenedor-principal-footer h2{
    font-size: 40px;
    font-weight: 600;
    color:var(--color-principal); /* Color del texto */
    -webkit-text-stroke: 2px white; /* Ancho y color del borde */
}
.footerGrande{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-inputs-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-inputs-footer input{
    margin-top: 20px;
    height: 40px;
    padding-left: 5px;
    font-weight: 100;
    width: 90%;
    font-size: 25px;
    color: var(--color-textoSecundario);
    background-color: var(--color-principal);
    border: 0;
    border-bottom: 1px solid white;
}
.contacto-inputs-footer .mensaje{
    height: 100px;
    padding-bottom: 50px;
}
.contenedor-enviar{
    width: 90%;
    height: 180px;
    border-bottom: var(--border-line);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-enviar .boton{
    margin-bottom: 40px;
}
.contenedor-enviar span{
    font-weight: 100;
    font-size: 13px;
    color: var(--color-secundario);
}
.contacto-a-footer{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 50px;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-a-footer .boton{
    width: 90%;
    margin:10px ;
}
.lineaFinal{
    margin: 40px;
    width: 90%;
    border: var(--border-line);
}
/* Reglas específicas index */
.parrafoIpad{
    display: none;
}
.padreIndex{
    width: 100%;
    position: absolute;
    bottom: 50px;
} 
.header-index .menu-hamburguesa{
    margin-top: 40px;
    margin-right: 25px;
    color: var(--color-secundario);
    width: 50px;
    height: 50px;
    font-size: 40px;
}
.contenedor-h2-index{
    margin-left: 25px;
    margin-right: 30px;
    line-height: 1;
}
.botones-portada-index{
    margin: 25px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
}
.botones-portada-index button{
    width: 120px;
    height: 35px;
    color: var(--color-secundario);
    border: var(--border-line);
    border-radius: 25px;
    margin: 10px 10px;
    font-size: 12px;
    padding: 0 3px;
}
.contenedor-i i{
    margin: 50px;
    color: var(--color-secundario);
    font-size: 100px;
}
.paddingHeaderQuienesSomos{
    padding-bottom: 50px;
}

.iblack i, .iblack h2{
    color: var(--color-principal);
}
.botones-portada-index button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundario);
}
.contenedor-parrafo-inicial{
    margin-left:25px;
    margin-right:45px;
    line-height: var(--line-height);
}






/* cuerpos */


/* cuerpo index */
.sectionIndex{
    background-color: var(--color-principal);
    width: 100%;
    overflow-x: hidden;
}
.contendorPrimeraSectionIndex{
    padding-top: 100px;
    width: 100%;
}
.tituloPrimeraParteIndex h2{
    width: 60%;
    font-size: 50px;
    padding: 25px;
}
.primerParrafo-IndexPrimeraSection{
    padding: 25px;
}
.primerParrafo-IndexPrimeraSection p{
    line-height: var(--line-height);
}
.segundoParrafo-IndexPrimeraSection{
    padding: 25px;
}
.segundoParrafo-IndexPrimeraSection p{
    line-height: var(--line-height);
}
.nuestrosServicios{
    width: 100%;
    background-color:var(--color-principal);
    overflow-x: hidden;
}
.contenedorh2-Servicios h2{
    padding:100px 25px 20px 25px;
}
.contenedorNuestrosServicios{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cajaServicios{
    width: 90%;
    height: 35vh;
    margin: 7px 0px;
    border: 2px solid var(--color-secundario);
    border-radius: 17px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden ;
}
.cajaServicios img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}
.cajaServicios .boton{
    width: 70px;
    height: 30px;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.cajaServicios h3{
    font-size: 25px;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}




/* carrousel */
.cuarta-seccion-pagina-principal{
    width: 100%;
    height: 100vh;
    background-color: var(--color-principal);
    overflow: hidden ;
}
.cuarta-seccion-pagina-principal .workflow{
    width: 100%;
    height: 100vh;
}
.cuarta-seccion-pagina-principal img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cuarta-seccion-pagina-principal .workflow h4{
    font-size: 60px;
    padding-top: 170px;
    font-weight: 800;
    margin-left: 25px ;
    color:var(--color-principal); /* Color del texto */
    -webkit-text-stroke: 2px white; /* Ancho y color del borde */
}
.cuarta-seccion-pagina-principal .workflow p{
    font-size: 23px;
    line-height: var(--line-height);
     margin:  50px 25px;
}
.cajaSwicth{
    width: 100%;
    height: 100vh;
}
.cajaSwicth h2{
    font-size: 50px;
    font-weight: 400;
    top: 10%;
    left: 10%;
    position: absolute;
}
.cajaSwicth p{
    font-weight: 100;
    border-radius: 27px;
    color: gray;
    font-size: 19px;
    line-height: 1.3;
    padding: 20px 0;
    top: 30%;
    left: 10%;
    position: absolute;
}
.carousel{
    margin-top: 8%;
}
.carousel-cell {
   width: 100%;
   height: 100vh;
   margin-right: 10px;
   border-radius: 27px;
}
.carousel-cell::before{
    display: block;
    content: "";
}
/* fin del algo */

/* fin del cuerpo index */


























/* cuerpo quienes SOmos */

/* primerbloque de texto */
.sectionQuienesSomos{
    width: 100%;
    background-color: var(--color-principal);
    overflow-x: hidden;
}
.contendorPrimerDivQuinesSomos{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
}
.contenedorPirmerBloqueParrafosQuienesSomos{
    padding: 50px 0;
    text-align: center;
}
.contenedorPirmerBloqueParrafosQuienesSomos p{
    font-size: 20px;
}
.contenedorSegundoBloqueParrafosQuienesSomos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.bloqueLateralIzqQuienesSomos{
    padding-left: 25px;
    width: 30%;
    writing-mode: sideways-lr !important;
}
.primerTexto-quienesSomos{
    width: 60%;
}
.primerTexto-quienesSomos p{
    line-height: var(--line-height);
}
.contenedorParrafosFinales-QuienesSomos{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
}
.contenedorParrafosFinales-QuienesSomos div{
    padding: 50px 0;
}
.contenedorPrimerParrafoFinal-quienesSomos p{
    line-height: var(--line-height);
}
.contenedorSegundoParrafoFinal-quienesSomos p{
    line-height: var(--line-height);
}
/* fin primer bloque de texto */
/* segundo bloque de texto */
.contendorSegundoDivQuinesSomos{
    overflow-x: hidden;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
}
.contenedorTercerrBloqueParrafosQuienesSomos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.bloqueLateralDrchQuienesSomos{
    padding-right: 25px;
    width: 30%;
    writing-mode: sideways-rl !important;
}
.segundoTexto-quienesSomos{
    width: 60%;
}
.segundoTexto-quienesSomos p{
    line-height: var(--line-height);
}
/* fin segundo bloque de texto */



/* tercera seccion quienes somos */
.tercera-seccion-quienesSomos{
    overflow-x: hidden;
}
.tercera-seccion-quienesSomos{
    padding-top: 100px;
    background-color:var(--color-principal) ;   
    width: 100%;
    display: none;

}
.tercera-seccion-quienesSomos .parrafo-inicio-tercera-seccion-quienesSomos h3 {
    margin-left: 30px;
    font-size: 55px;
}
.paraMovil{
    overflow-x: hidden;
}
.paraMovil .parrafo-inicio-tercera-seccion-quienesSomos h3 {
    margin-left: 30px;
    font-size: 55px;
}
.tercera-seccion-quienesSomos .parrafo-inicio-tercera-seccion-quienesSomos p{
    margin: 30px 20px 30px 30px;
    line-height: var(--line-height);
}
.paraMovil .parrafo-inicio-tercera-seccion-quienesSomos p{
    margin: 30px 20px 30px 30px;
    line-height: var(--line-height);
}
.contenedor-nuestro-trabajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cajaQuinesSomos{
    width: 90%;
    border: var(--border-line);
    border-radius: 17px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaQuinesSomos:hover{
    border: 2px solid red;
}
.cajaInterna{
    padding: 30px 0;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.cajaQuinesSomos .numero{
    margin: 20px 0;
    width: 50px;
    height: 22px;
    border-radius: 25px;
    border: var(--border-line);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.cajaQuinesSomos .numero p{
    padding-top: 2px;
    color: var(--color-secundario);
}
.cajaInterna h2, .cajaInterna p{
    margin: 10px 0;
}
/* fin tercera seccion quienes somos */
/* fin del cuerpo quienes somos */


























/* cuerpo Desarrollo */
.sectionDesarrollo{
    width: 100%;
    background-color:#010101 ;
    overflow-x: hidden;
}
.contenedorDesarrollo{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
}
.cajaDesarrollo p{
    padding: 50px 0;
    line-height: var(--line-height);
}
.primerParrafo-Desarrollo p{
    padding-top: 100px;
}
.segundoParrafo-Desarrollo p{
    padding-bottom: 100px;
}
/* fin del cuerpo Desarrollo */



/* cuerpo movil */
.sectionMovil{
    width: 100%;
    background-color:#010101 ;
    overflow-x: hidden;
}
.contenedorMovil{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
}
.cajaMovil p{
    padding: 50px 0;
    line-height: var(--line-height);
}
.primerParrafo-Movil p{
    padding-top: 100px;
}
.segundoParrafo-Movil p{
    padding-bottom: 100px;
}
/* fin del cuerpo movil */


/*  cuerpo power */
.sectionPower{
    width: 100%;
    background-color:#010101 ;
    overflow-x: hidden;
}
.contenedorPower{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
}

.cajaPower p{
    padding: 50px 0;
    line-height: var(--line-height);
}
.primerParrafo-Power p{
    padding-top: 100px;
}
.segundoParrafo-Power p{
    padding-bottom: 100px;
}
/* fin del cuerpo Power */







/* cuerpoIndustria */
.sectionIndustria{
    width: 100%;
    background-color:#010101 ;
    overflow-x: hidden;
}
.contenedorParrafos-industria{
    margin:0px 25px;
}
.cajaIndustria p{
    line-height: var(--line-height);
    padding: 80px 0;
}
.contenedorParrafos-industria .primerParrafo{
    padding-top: 100px;
}
/* fin del cuerpo Industria */



/* cuerpo consultoria */
.sectionConsultoria{
    background-color: var(--color-principal);
    overflow-x: hidden;
}
.cajaConsultoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primerTexto-consultoria{
    padding-top:80px ;
}
.img-consultoria{
    width: 100%;
}
.cajaImg-consultoria{
    width: 80%;
}
.img-consultoria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cajatexto p{
    padding: 80px 25px;
    font-weight: 100;
    font-size: var(--fuente-cuerpo);
    line-height: var(--line-height);
}
/* fin cuerpo consultoria */




/* cuerpo Out */
.seccion-out{
    width: 100%;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.contenedorParrafoOut{
    margin: 0px 25px;
    width:95%;
}
.Out1 p{
    padding-top: 100px;
}
.Out1, .Out2, .Out3{
    line-height: var(--line-height);
    padding: 25px 25px;
}
.contenedorParrafoOut .img-out img{
    margin: 25px 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* fin cuerpo Out */










@media (min-width: 768px){  

     /* Variables */
 :root{
  

    --size-h1: 100px;
    --size-h2: 80px;
    --size-h3: 28px;
    --size-cuerpo: 20px; 
} 

    .botonMenuH{
        width: 200px;
        height: 70px;
        font-size: 25px;
    }
    .botonEnviar{
        font-size: 20px;
        height: 45px;
        width: 170px;
        padding-bottom: 5px;
    }
    .botonFooter{
        font-size: 20px;
        width: 320px;
        height: 50px;
    }
    .menu-desplegable-header{
        width: 100vw;
        height: 100vh;
        background-color: var(--color-principal);
        color: var(--color-secundario);
        overflow: hidden;
        display: none;
        position: fixed;
        z-index: 1000;
        top:0;
        left: 0;
    }
    .close{
        font-size: 40px;
        margin: 40px;
    }
    .closeDos{
        width: 40px;
        height: 35px;
        font-size: 30px;
    }
    .visible{
        display: block;
    }
    .marco-icono{
        width: 90%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .marco-icono p{
        padding-left: 20px;
    }
    .underline {
        margin: 10px 40px;
        height: 60px;
        width: 100%;
        padding-bottom: 15px;
        font-size:30px;
        position: relative;
        display: flex;
        align-items: start;
    }
    .botones-contactos{
        width: 100vw;
        height: 15vh;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /* Estilos adicionales para el encabezado */
    .header-index {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
      }
    /* Estilos adicionales para la sección */
    footer{
        height: 105vh;
    }
    .contenedor-h2-footer{
        width: 100%;
        margin-left: 80px;
        padding-bottom: 50px;
    }
    .contenedor-principal-footer h2{
        font-size: 50px;
    }
    .contacto-inputs-footer input{
        margin-top: 20px;
        height: 40px;
        padding-left: 5px;
        font-size: 30px;
    }
    .contacto-inputs-footer .mensaje{
        height: 100px;
        padding-bottom: 50px;
    }
    .contenedor-enviar{
        width: 90%;
        height: 180px;
        font-size: 30px;
    }
    .contenedor-enviar .boton{
        margin-bottom: 40px;
    }
    .contenedor-enviar span{
        font-size: 14px;
    }
    .contacto-a-footer{
        width: 100%;
        margin-top: 40px;
        padding-bottom: 50px;
        background-color: var(--color-principal);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacto-a-footer .boton{
        width: 70%;
        margin:15px  10px;
        font-size: 30px;
    }
    /* Reglas específicas portada */
    .header-index .menu-hamburguesa{
        margin-right: 30px;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }
    .contenedor-h2-index{
        margin-left: 40px;
        margin-right: 30px;
        line-height: 1;
    }
    .botones-portada-index{
        margin: 30px 40px;
        width: 100%;
    }
    .botones-portada-index button{
        width: 200px;
        height: 60px;
        margin: 10px 10px;
        font-size: 20px;
    }
    .contenedor-i i{
        margin: 50px;
        color: var(--color-secundario);
        font-size: 100px;
    }
    .iblack i, .iblack h2{
        color: var(--color-principal);
    }
    .botones-portada-index button:hover{
        background-color: var(--color-principal);
        color: var(--color-secundario);
    }
    .contenedor-parrafo-inicial{
        margin-left:40px;

    }











/* cuerpos */

/* tercera seccion */

.contenedorNuestrosServicios{
    padding-bottom: 100px;
}
.cajaServicios{
    margin: 15px 0px;
    border: 3px solid var(--color-secundario);
}
.cajaServicios .boton{
    font-size: 20px;
    width: 120px;
    height: 60px;
    top: 70%;
    left: 15%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.cajaServicios h3{
    width: 50%;
    font-size: 40px;
    top: 25%;
    left: 31%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/* cuarta seccion */
.cuarta-seccion-pagina-principal{
    width: 100%;
    height: 100vh;
    background-color: var(--color-principal);
    position: relative;
    overflow: hidden ;
}
.cuarta-seccion-pagina-principal .workflow{
    width: 100%;
    height: 100vh;
}
.cuarta-seccion-pagina-principal .workflow h4{
    font-size: 80px;
    margin-left: 40px ;
}
.cuarta-seccion-pagina-principal .workflow p{
    font-size: 27px;
     margin:  50px 40px;
}
.cajaSwicth{
    width: 100%;
    height: 100vh;
}
.cajaSwicth h2{
    font-size: 80px;
    left: 10%;
}
.cajaSwicth p{
    font-size: 27px;
    color: var(--color-secundario);
    padding: 20px 20px 0px 0px;
    top: 25%;
    left: 10%;
    position: absolute;
}
/* fin del algo */








/* cuerpo quienes somos */
.contenedorPirmerBloqueParrafosQuienesSomos{
    padding:   100px 100px;
    text-align: center;
    
}
.contenedorPirmerBloqueParrafosQuienesSomos p{
    font-size: 24px;
}
/* fin del cuerpo quienes somos */

/* cuerpo Desarrollo */
.contenedorDesarrollo{
    margin: 0px 50px;
    padding-top: 150px;
}
.primerParrafo-Desarrollo{
    width: 80%;
}
.segundoParrafo-Desarrollo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:  0 30px;
}
.caja p{
    padding: 80px 0;
    line-height: var(--line-height);
}
.segundoParrafo-Desarrollo p{
    padding-bottom: 150px;
}

/* fin del cuerpo Desarrollo */
/* cuerpo movil */

.contenedorMovil{
    margin: 0px 50px;
    padding-top: 150px;
}
.primerParrafo-Movil{
    width: 80%;
}
.segundoParrafo-Movil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:  0 30px;
}
.cajaMovil p{
    padding: 80px 0;
    line-height: var(--line-height);
}
.segundoParrafo-Movil p{
    padding-bottom: 150px;
}
/* fin del cuerpo movil */



/*  cuerpo power */






.contenedorPower{
    margin: 0px 50px;
    padding-top: 150px;
}
.primerParrafo-Power{
    width: 80%;
}
.segundoParrafo-Power{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:  0 30px;
}

.cajaPower p{
    padding: 80px 0;
    line-height: var(--line-height);
}
.segundoParrafo-Power p{
    padding-bottom: 150px;
}
/* fin del cuerpo Power */








/* cuerpoIndustria */
.contenedorParrafos-industria{
    margin:0px 40px;
}
.cajaIndustria p{
    padding: 80px 0;
    font-weight: 100;
}
.contenedorParrafos-industria .primerParrafo{
    width: 50%;
    padding-top: 100px;
}
.contenedorParrafos-industria .segundoParrafo{
    width: 90%;
    padding-left:200px ;

}
/* fin del cuerpo Industria */






/* cuerpo consultoria */
.cajaConsultoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cajaConsultoria{
    margin: 100px;
}
.cajaConsultoria:first-child{
    margin-top: 0;
}
.cajaConsultoria:last-child{
    margin-bottom: 0;
    padding-bottom: 100px;
}
.cajaImg-consultoria{
    width: 50%;
}
.cajaImg-consultoria img{
    padding: 0;
    margin-left: 0px;
    width: 100%;
}
.cajatexto{
    padding-left: 50px;
    width: 70%;
}
.cajatexto p{
    padding: 100px 50px;
}
.primerTexto-consultoria{
    padding-top:100px ;
}
.img-consultoria{
    width: 100%;
}
.cajatexto p{font-size: 20px;
    padding: 80px 0px;
}
.primerTexto-consultoria{
    width: 100%;
 
}
/* fin cuerpo consultoria */








/* cuerpo Out */
.contenedorParrafoOut{
    margin: 0px 40px;
    width:100%;
}
.Out1 p{
    padding-top: 150px;

}
.Out1, .Out2, .Out3{
    line-height: var(--line-height);
    padding: 40px 40px;
}
.Out1 p, .Out2 p, .Out3 p{
    line-height: var(--line-height);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorParrafoOut .img-out img{
    margin: 0;
}
.Out3 {
    display: flex;
    justify-content: start;
    align-items: center;

}
.listaOut{
    margin: 40px;
}
/* fin cuerpo Out */
/* fin de cuerpos */














}






































@media (min-width: 1025px){  
    /* Variables */
:root{
   --size-h1: 100px;
   --size-h2: 80px;
   --size-h3: 28px;
   --size-cuerpo:27px; 
} 
.botones-contactos{
    justify-content: flex-end;
}
.botonMenuH{
    width: 220px;
    height: 75px;
    font-size: 30px;
    margin-right: 60px;
}
.botonEnviar{
    font-size: 20px;
    height: 45px;
    width: 170px;
    padding-bottom: 5px;
}
.botonFooter{
    font-size: 20px;
    width: 320px;
    height: 50px;
}
.menu-desplegable-header{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
}
.close{
    font-size: 50px;
    margin: 40px;
}
.closeDos{
    width: 50px;
    height: 50px;
    font-size: 35px;
}
.visible{
    display: block;
}
.marco-icono{
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marco-icono p{
    padding-left: 20px;
}
.underline {
    margin: 10px 40px;
    padding-left: 20px;
    height: 100px;
    width: 100%;
    padding-bottom: 15px;
    font-size:35px;
    position: relative;
    display: flex;
    align-items: start;
}
/* footer */
footer{
    width: 100%;
    height: 105vh;
    padding-top: 50px;
}
.contenedor-h2-footer{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contenedor-principal-footer h2{
    margin: 0px;
    padding: 0;
    margin-left: 50px;
    padding-bottom: 50px;
}
.footerGrande{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerGrande .arribaFooter1{
    width: 50%;
    margin: 0px;
    padding-right: 10px;
    margin-right: 10px;
}
.footerGrande .arribaFooter2{
    width: 50%;
    margin: 0px;
    margin-left: 10px;
}
.contacto-inputs-footer input{
    height: 80px;
    padding: 0px;
    font-size: 35px;
}
.contacto-inputs-footer .mensaje{
    height: 180px;
    padding-bottom: 90px;
}
.contenedor-enviar{
    height: 150px;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-enviar .boton{
    width: calc(60%/3);
    margin-top: 50px;
    height: 70px;
    font-size: 35px;
    padding-bottom: 0px;
    margin: 0;
}
.contenedor-enviar span{
    font-weight: 100;
    font-size: 23px;
    color: var(--color-secundario);
}
.contacto-a-footer{
    height: 100px;
    width: 100%;
    padding: 50px 0;
    margin: 0px 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contacto-a-footer .boton{
    width: calc(60%/3);
    height: 70px;
    font-size: 35px;
    margin: 0px 10px ;
    padding: 0px 0;
}
.lineaFinal{
    width: 90%;
    position: relative;
    padding: 0px 0;
    margin-top: 20px;
    bottom: 10px;
}

/* fin del footer */
/* Reglas específicas portada */
.header-index .menu-hamburguesa{
    margin-right: 35px;
    margin-top: 35px;
    width: 60px;
    height: 60px;
    font-size: 50px;
}
.contenedor-h2-index{
    width: 60%;
    line-height: var(--line-height);
    margin-left: 60px;
}
.botones-portada-index{
    margin: 30px 40px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
}
.botones-portada-index button{
    width: 220px;
    height: 70px;
    margin: 10px 10px;
    font-size: 25px;
}
.contenedor-i i{
    margin: 50px;
    margin-left: 200px;
    color: var(--color-secundario);
    font-size: 100px;
}
.iblack i, .iblack h2{
    color: var(--color-principal);
}
.botones-portada-index button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundario);
}
.contenedor-parrafo-inicial{
    margin-left:60px;

}
















/* cuerpos */
/* cuerpo index */
.contendorPrimeraSectionIndex{
    padding-left: 60px;
  }
  .tituloPrimeraParteIndex h2{
      font-size: 100px;
  }
  .primerParrafo-IndexPrimeraSection{
      padding: 100px 0;
      width: 70%;
  }
  .segundoParrafo-IndexPrimeraSection{
      padding: 100px 0;
      width: 60%;
  }
/* tercera seccion */
.nuestrosServicios{
    display: none;
}
/* cuarta seccion */
.cuarta-seccion-pagina-principal{
    width: 100%;
    height: 100vh;
    background-color: var(--color-principal);
    position: relative;
    overflow: hidden ;
}
.cuarta-seccion-pagina-principal .workflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuarta-seccion-pagina-principal .workflow h4{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 90%;
    font-size:200px;
}
.cuarta-seccion-pagina-principal .workflow p{
    width: 700px;
    height: 100px;
    font-size: 20px;
    margin:0;
    padding: 0;
    position: absolute;
    bottom: 150px;
    right: 100px;
}
.cajaSwicth h2{
    font-size: 100px;
    left: 55px;
}
.cajaSwicth p{
    width: 700px;
    height: 150px;
    color: var(--color-secundario);
    padding: 20px 20px 0px 0px;
    position: absolute;
    top: 33%;
    left: 60px;
}
/* fin de index */










/* cuerpo quienes somos */
.paraMovil{
    display: none;
}
.tercera-seccion-quienesSomos{
    display: block;
}



.contendorPrimerDivQuinesSomos{
    padding: 200px;
}
.contendorPrimerDivQuinesSomos p{
    font-size: 30px;
    line-height: 2;
}
.contenedorSegundoBloqueParrafosQuienesSomos{
    display: none;
}
.contenedorTercerrBloqueParrafosQuienesSomos{
    display: none;
}
.parrafo-inicio-tercera-seccion-quienesSomos{
    margin: 0 60px;
}
.contenedor-nuestro-trabajo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.parrafo-inicio-tercera-seccion-quienesSomos h3{
    padding: 20px;
    font-size: 70px !important;
}
.cajaQuinesSomos{
    width: calc(80%/5);
}
.cajaInterna .numero{
    padding: 20px 0;
    width: 100px;
    height: 25px;
 
}
.numero p{
    font-size: 15px;
    margin-top: 30px;
}
.cajaInterna h3{
    padding: 20px 0;
}
.cajaInterna p{
    padding: 20px 0;
    font-size: 20px;
}
.contenedorParrafosFinales-QuienesSomos{
    margin: 0 100px;
}
/* cuerpo quienes somos */

/* fin del cuerpo quienes somo*/
/* cuerpo desarrollo */
/* fin del cuerpo desarrollo */
.contenedorDesarrollo{
    margin: 0px 60px;
}
.segundoParrafo-Desarrollo{

    padding-left: 100px;
    padding-right: 100px;
}
/* cuerpo movil */
.contenedorMovil{
    margin: 0px 60px;
}
.segundoParrafo-Movil{

    padding-left: 100px;
    padding-right: 100px;
}
/* fin del cuerpo movil */







/* cuerpo power */
.contenedorPower{
    margin: 0px 60px;
}
.segundoParrafo-Power{

    padding-left: 100px;
    padding-right: 100px;
}
/* fin del cuerpo power */




/* cuerpoIndustria */
.contenedorParrafos-industria{
    margin:0px 60px;
}
.cajaIndustria p{
    font-size: 23px;
    padding: 80px 0;
    font-weight: 100;
}
.contenedorParrafos-industria .primerParrafo{
    width: 35%;
    padding-top: 200px;
}
.contenedorParrafos-industria .segundoParrafo{
    width: 95%;
    padding-left:400px ;

}
/* fin del cuerpo Industria */












/* cuerpo consultoria */

.cajaConsultoria{
    margin: 100px;
}
.cajaConsultoria:first-child{
    margin-top: 0;
}
.cajaConsultoria:last-child{
    margin-bottom: 0;
    padding-bottom: 100px;
}
.cajaImg-consultoria{
    width: 50%;
}
.cajaImg-consultoria img{
    margin-left: 100px;
    width: 60%;
}
.cajatexto{
    width: 50%;
}
.cajatexto p{
    padding: 100px 60px;
}
.primerTexto-consultoria{
    padding-top:100px ;
}
.img-consultoria{
    width: 100%;
}
.cajatexto p{
    padding: 80px 60px;
}
.primerTexto-consultoria{
    width: 100%;
    padding: 100;

}
.primerTexto-consultoria p{
    font-size: 40px;
}
/* fin cuerpo consultoria */








/* cuerpo Out */
.contenedorParrafoOut{
width: 100%;
display: flex;
flex-direction: row;   
}
.parrafoOut1,.parrafoOut2{
    width: 40%;
}
.contenedorParrafoOut{
    margin: 0px 40px;
    width:100%;
}
.Out1{
    margin-top: 250px;

}
.img-out{
    width: 60%;
    padding-left: 50px;
}
.Out1, .Out2, .Out3{
    line-height: var(--line-height);
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Out1 p, .Out2 p, .Out3 p{
    line-height: var(--line-height);
    padding: 50px 50px;
    font-size: 35px;
}
.Out3 {
    display: flex;
    justify-content: start;
    align-items: center;

}
.contenedorParrafoOut .img-out img{
    margin: 0;
}
/* fin cuerpo Out */
/* fin de cuerpos */








}













































@media (min-width: 1920px){  

    /* Variables */
:root{
   --size-h1: 100px;
   --size-h2: 100px;
   --size-h3: 28px;
   --size-cuerpo: 30px; 
} 
.botonMenuH{
    width: 270px;
    height: 85px;
    font-size: 35px;
    margin-right: 60px;
}
.close{
    font-size: 55px;
}
.closeDos{
    width: 60px;
    height: 60px;
    font-size: 40px;
    padding-left: 150px;
}
.visible{
    display: block;
}
.marco-icono{
    justify-content: space-between;
}
.marco-icono p{
    padding-left: 40px;
}
.underline {
    margin: 10px 40px;
    padding-left: 40px;
    height: 100px;
    width: 100%;
    padding-bottom: 15px;
    font-size:40px;
    position: relative;
    display: flex;
    align-items: start;
}
/* footer */
footer{
    width: 100%;
    height: 115vh;
    padding-top:150px;
}
.contenedor-principal-footer h2{
    font-size: 100px;
    margin: 0px;
    padding: 0;
    margin-left: 150px;
    padding-bottom: 100px;
}
.contacto-inputs-footer input{
    height: 100px;
    padding: 0px;
    font-size: 40px;
}
.contacto-inputs-footer .mensaje{
    height: 200px;
    padding-bottom: 90px;
}
.contenedor-enviar .boton{
    width: calc(60%/3);
    height: 80px;
    font-size: 35px;
}
.contenedor-enviar span{
    font-size: 25px;
}
.contacto-a-footer{
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0px 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contacto-a-footer .boton{
    width: calc(60%/3);
    height: 80px;
    font-size: 35px;
    margin: 0px 10px ;
    margin-top: 50px;
    padding: 0;
}
.lineaFinal{
    margin: 100px 0;
}
/* fin del footer */
/* Reglas específicas portada */
.header-index .menu-hamburguesa{
    margin-right: 100px;
    margin-top: 80px;
    width: 60px;
    height: 60px;
    font-size: 70px;
}
.contenedor-h2-index{
    width: 50%;
    line-height: var(--line-height);
    margin-left: 60px;
}
.botones-portada-index{
    margin: 30px 40px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
}
.botones-portada-index button{
    width: 250px;
    height: 90px;
    margin: 10px 10px;
    font-size: 35px;
}
.contenedor-i i{
    font-size: 160px;
}
.iblack i, .iblack h2{
    color: var(--color-principal);
}
.botones-portada-index button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundario);
}
.contenedor-parrafo-inicial{
    margin-left:60px;
    width: 60%;
}










/* cuerpos */

/* index */
.contendorPrimeraSectionIndex{
  padding-left: 80px;
}
.tituloPrimeraParteIndex h2{
    font-size: 100px;
}
.primerParrafo-IndexPrimeraSection{
    padding: 100px 0;
    width: 60%;
}
.segundoParrafo-IndexPrimeraSection{
    padding: 100px 0;
    width: 60%;
}
/* cuarta seccion */
.cuarta-seccion-pagina-principal .workflow h4{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 90%;
    font-size:300px;
}
.cuarta-seccion-pagina-principal .workflow p{
    bottom: 150px;
    right: 80px;
}
.cajaSwicth h2{
    font-size: 100px;
    left: 80px;
    top: 15%;
}
.cajaSwicth p{
    width: 700px;
    height: 150px;
    color: var(--color-secundario);
    padding: 00px 30px 0px 0px;
    top: 35%;
    left: 80px;
}
/* fin de index*/




/* cuerpo Desarrollo */

.contenedorDesarrollo{
    margin: 0px 80px;
}
.segundoParrafo-Desarrollo{
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 150px;
    padding-bottom: 100px;
}
/* fin del cuerpo Desarrollo */

/* cuerpo movil */
.contenedorMovil{
    margin: 0px 80px;
}
.segundoParrafo-Movil{
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 150px;
    padding-bottom: 100px;
}
/* fin del cuerpo movil */






/* cuerpo movil */
.contenedorPower{
    margin: 0px 80px;
}
.segundoParrafo-Power{
    padding-top: 150px;
    padding-left: 700px;
    padding-right: 150px;
    padding-bottom: 200px;
}
/* fin del cuerpo movil */







/* cuerpoIndustria */
.contenedorParrafos-industria{
    margin:0px 80px;
}
.cajaIndustria p{
    font-size: 27px;
    padding: 80px 0;
    font-weight: 100;
}
.contenedorParrafos-industria .primerParrafo{
    width: 40%;
    padding-top: 200px;
}
.contenedorParrafos-industria .segundoParrafo{
    width: 95%;
    padding-left:700px ;

}
/* fin del cuerpo Industria */

/* cuerpo consultoria */

.cajaConsultoria{
    margin: 150px;
}
.cajaConsultoria:first-child{
    margin-top: 0;
}
.cajaConsultoria:last-child{
    margin-bottom: 0;
    padding-bottom: 150px;
}
.cajaImg-consultoria{
    width: 50%;
}
.cajaImg-consultoria img{
    margin-left: 150px;
}
.cajatexto p{
    font-size: 30px;
    padding: 100px 80px;
}
.primerTexto-consultoria{
    padding-top:150px ;
}
.primerTexto-consultoria{
    width: 70%;
}
.primerTexto-consultoria p{
    font-size: 35px;
}
.primerTexto-consultoria{
    width: 100%;
    padding: 100;

}
.primerTexto-consultoria p{
    font-size: 50px;
}
/* fin cuerpo consultoria */





















/* cuerpo Out */
.contenedorParrafoOut{
    width: 100%;
    display: flex;
    flex-direction: row;   
    }
    .parrafoOut1,.parrafoOut2{
        width: 40%;
    }
    .contenedorParrafoOut{
        margin: 0px 40px;
        width:100%;
    }
    .Out1{
        margin-top: 250px;
    
    }
    .img-out{
        width: 60%;
        padding-left: 50px;
    }
    .Out1, .Out2, .Out3{
        line-height: var(--line-height);
        padding: 50px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Out1 p, .Out2 p, .Out3 p{
        line-height: var(--line-height);
        padding: 50px 50px;
        font-size: 35px;
    }
    .Out3 {
        display: flex;
        justify-content: start;
        align-items: center;
    
    }
    .contenedorParrafoOut .img-out img{
        margin: 0;
    }
    .listaOut li{
        font-size: 35px;
    }
    
    /* fin cuerpo Out */
    /* fin de cuerpos */






}